.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid red;
  margin: auto;
}
#ranpo {
  width: 50px;
  height: 50px;
  background-image: url(ranpo.png);
  background-size: 50px 50px;
  position: relative;
  top: 150px;
  transform: scale(-1, 1);
}
.candy {
  width: 20px;
  height: 40px;
  background-image: url(candy.png);
  background-size: 20px 40px;
  position: relative;
  top: 110px;
  left: 580px;
  animation: candy1 3s infinite linear;
}
@keyframes candy1 {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}

.jump {
  animation: jump 1s infinite linear;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 130px;
  }
  50% {
    top: 80px;
  }
  /* 100% */
}
